body {
    background-color: #000;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    padding: 12px;
    width: 300px;
}

.sidebar .logo {
    background-color: #121212;
    display: flex;
    border-radius: 0.5rem;
    /* 8px para rem */
    padding: 1rem 0 0 1rem;
    /* 16px, 0, 0, 16px para rem */
}

.sidebar .logo img {
    width: 5rem;
    /* 80px para rem */
}

.sidebar nav ul {
    margin-top: 20px;
    padding: 0 20px 10px 20px;
}

.sidebar ul li {
    padding: 10px 0;
}

.sidebar nav ul li a {
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px;
    font-family: "DM Sans", sans-serif;
}

.sidebar__navigation {
    background-color: #121212;
    border-radius: 8px;
}

.sidebar__navigation .logo {
    background: #121212;
    display: flex;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}