.Media-Player{
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    text-align: center;

    min-width: 100vh;
    width: 100vi;
    height: 70px;

    background: #000;
    padding: 11px 24px 7px 15px;
    margin-top: auto;
    flex-shrink: 1;

    opacity: 0;
    bottom: -100px;

    transition: all ease 0.4s;
}

.Media-Player.show {
    bottom: 0px;
    opacity: 1;

}

.card-play{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.player-text{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card-play img{
    height: 65px;
    border-radius: 12px;
    border: 2px solid #fff;
}

.current-title{
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; 

    padding: 4px;
    margin-left: -5px;

    color: var(--text-base-light);
    font-size: 18px;
    font-weight: 700;
}

.current-artist{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    -webkit-box-orient: vertical; 

    line-height: 1.2;

    color: #b4b4b4;
    font-size: 13px;
    font-weight: 600;
}

.fa-forward{
    color: #b4b4b4;
    font-size: 17px;
    margin: 10px;
}

.fa-backward{
    color: #b4b4b4;
    font-size: 17px;
    margin: 10px;
}

.player-status{
    margin-top: 7px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 630px;
}

.fa-circle-dot {
    display: flex;
    align-items: center;
    color: white;
    font-size: 13px;
    font-weight: 600;
    position: relative;
    left: -245px;
    animation: moveRight 90s linear;
    z-index: 1;
}

@keyframes moveRight {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(200px);
    }
}

.progresso-main{
    display: flex;
    align-items: center;
}

.progresso {
    background-color: #333; /* Cor escura inicial */
    transform: scale(30, 0.25);
    color: transparent;
    font-size: 20px;
    background-size: 0% 100%; /* Defina o tamanho inicial para 0% */
    transition: background 5s ease; /* Adiciona uma transição suave de 5 segundos */
}

/* Adicione um estilo para a animação de gradiente quando a classe 'loading' é aplicada */
div.progresso.loading {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgb(33, 33, 33) 0%, rgb(15, 15, 15) 100%, rgba(180,180,180,1) 100%);
    background-size: 100% 100%; /* Defina o tamanho final para 100% */
}

.time_text{
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; 

    padding: 4px; 

    color: var(--text-base-light);
    font-size: 14px;
    font-weight: 300;
}

.fa-pause {
    padding: 14px;
    background-color: #fff;
    border-radius: 100%;
    font-size: 18px;
    transition: all ease 0.4s;
    cursor: pointer;
}

.fa-volume-high{
    color: #b4b4b4;
    font-size: 20px;
    margin: 25px 60px 32px 0;
    cursor: pointer;
}