.playlist-container {    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    position: relative;
    top: 74px;
    right: 8px;
    bottom: 83px;

    max-width: 100vw;
    max-height: 100vw;

    margin: 0px 8px 82px 423px;
    flex-grow: 1;
    
    background: rgb(16,16,19);
    background: linear-gradient(180deg, rgb(21, 21, 22) 0%, rgba(20,20,20,1) 35%, rgb(12, 12, 12) 100%);
    border-radius: 8px;
}

.playlist{
    padding: 10px 20px;
    color: #fff;
}

.playlist h1{
    font-weight: 700;
    font-size: 25px;
    line-height: 2;
}

.playlist h2{
    font-weight: 600;
}

/* SCROLL */
.offer__scroll-container{
    max-height: 70vh;
    margin: 10px;
    overflow-y: auto;
}

.offer__scroll-container::-webkit-scrollbar {
    width: 1px;
}

.offer__scroll-container::-webkit-scrollbar-thumb {
    background-color: transparent;
}
  /* FIM SCROLL */

.offer__list-item{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    gap: 14px;
    margin-top: 0px;
}

.button_play{
    display: flex;
    align-items: center;

}

.fa-play {
    background-color: #1ed760;
    padding: 8px;
    border: none;
    border-radius: 9999px;
    color: #fff;
    font-size: 20px;
    margin-right: 0px;
    transition: transform 0.3s;
    cursor: pointer;
}

#old-container{
    display: flex;
    flex-direction: row;
    align-content: flex-start;    
    flex-wrap: wrap;
    padding: 10px 10px;
    gap: 15px;
}

.cards{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    background-color: #1c1c1c;
    padding: 6px;
    transition: background-color .3s;
    text-decoration: none;
}

.cards:hover{
    background-color: #303030;
}

.cards:hover .play .fa-play {
    opacity: 1;
    transform: translateY(-20px);
}

.cards img{
    width: 180px;
    height: 180px;
}

.cards span{
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; 

    display: flex;
    padding: 4px;
    margin-top: 8px;

    max-width: 160px;    

    color: var(--text-base-light);
    font-size: 18px;
    font-weight: 700;
}

.cards p{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    -webkit-box-orient: vertical; 

    padding: 4px;
    max-width: 160px;
    max-height: 25px;
    line-height: 1.2;

    color: #b4b4b4;
    font-size: 13px;
    font-weight: 600;
}

.hidden{
    display: none;
}

#new-container{
    display: flex;
    flex-direction: row;
    align-content: flex-start;    
    flex-wrap: wrap;
    padding: 10px 10px;
    gap: 15px;
}

.card-img img{
    width: 180px;
    height: 180px;
}

.artist-card{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    background-color: #1c1c1c;
    padding: 12px;
    transition: background-color .3s;
}

.artist-card:hover{
    background-color: #303030;
}

.card-text{
    flex-direction: column;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;

    display: flex;
    padding: 4px;
    margin-top: 8px;

    max-width: 160px;    

    color: var(--text-base-light);
    font-size: 18px;
    font-weight: 700;

}

.artist-genre{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; 

    max-width: 160px;
    max-height: 25px;
    line-height: 2.6;

    color: #b4b4b4;
    font-size: 13px;
    font-weight: 600;
}

.play .fa-play {
    position: absolute;
    right: 20px;
    top: 130px;
    padding: 20px;
    background-color: #1db954;
    border-radius: 100%;
    font-size: 14px;
    opacity: 0;
    transition: all ease 0.4s;
}

.artist-card:hover .play .fa-play {
    opacity: 1;
    transform: translateY(-4px);
}

.play .fa-play:hover {
    padding: 20px;
    cursor: pointer;
}

